* {
  padding: 10px;
  margin: 10px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
}

.hero {
  display: flex;
  justify-content: flex-end;
}

.villan {
  display: flex;
  justify-content: flex-start;
}

.h1,
.h2,
.v2,
.v1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 160px;
  width: 120px;
  border-radius: 5%;
  padding-bottom: 50px;
  margin: 10px;
}

.hero div h2 {
  font-size: 30px;
}

.villan div h2 {
  font-size: 30px;
}

.hero .h1 img {
  height: 100px;
  width: 100px;
  padding: 5px;
}

.hero .h2 img {
  height: 100px;
  width: 100px;
  padding: 5px;
}

.villan .v1 img {
  height: 100px;
  width: 100px;
  padding: 5px;
}

.villan .v2 img {
  height: 100px;
  width: 100px;
  padding: 5px;
}

.score {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.score div {
  font-size: 20px;
}



.footer {
  margin-left: 80px;
  font-size: 18px;
}